@model UpdateCarDto
@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Araç Güncelleme Sayfası</h4>
                <p class="card-subtitle mb-4">Araç İle İlgili Temel Bilgileri Eksiksiz Doldurmanız Önemlidir. Veri Girişlerinden Sonra Kaydet Butonuna Tıklayarak Güncelleme İşlemini Tamamlayabilirsiniz.</p>

                <form method="post">
                    <div class="form-group">
                        <input type="hidden" asp-for="CarID"/>
                        <label>Marka</label>
                        @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Model</label>
                        <input type="text" class="form-control" placeholder="Model Girişi Yapınız" asp-for="Model">
                    </div>
                    <div class="form-group">
                        <label>Kapak Fotoğrafı</label>
                        <input type="text" class="form-control" placeholder="Kapak Fotoğrafı Linkini Giriniz" asp-for="CoverImageUrl">
                    </div>
                    <div class="form-group">
                        <label>Km</label>
                        <input type="text" class="form-control" placeholder="Kilometre Bilgisi Girişi Yapınız" asp-for="Km">
                    </div>
                    <div class="form-group">
                        <label>Vites Türü</label>
                        <input type="text" class="form-control" placeholder="Vites Türünü Giriniz" asp-for="Transmission">
                    </div>
                    <div class="form-group">
                        <label>Koltuk Sayısı</label>
                        <input type="number" class="form-control" placeholder="Koltuk Sayısını Seçiniz" asp-for="Seat">
                    </div>
                    <div class="form-group">
                        <label>Bagaj Kapasitesi</label>
                        <input type="text" class="form-control" placeholder="Bagaj Kapasitesini Giriniz" asp-for="Luggage">
                    </div>
                    <div class="form-group">
                        <label>Yakıt Türü</label>
                        <input type="text" class="form-control" placeholder="Yakıt Türünü Giriniz" asp-for="Fuel">
                    </div>
                    <div class="form-group">
                        <label>Büyük Kapak Fotoğrafı</label>
                        <input type="text" class="form-control" placeholder="Araç Detaylarında Gözükecek Kapak Fotoğrafı Linkini Giriniz" asp-for="BigImageUrl">
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Aracı Kaydet</button>
                </form>

            </div> <!-- end card-body-->
        </div>
    </div>
</div>
